* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}

body {
    background-color: #2b0333;
    color: white;
    margin: 0%;
}

main {
    margin: 70px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: rgb(238, 238, 238);
    color: rgb(243, 243, 243);
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

.narga-img {
    display: flex;
    width: 700px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.player {
    width: 640px;
    background-color: #2b0333;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
}

.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
}

.bar {
    --space: -4px;
    background-color: #2b0333;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

#progress {
    display: block;
    width: var(--progress,0%);
    background-color: #7004af;
    transition: all 1s linear;
    height: 100%;
}

footer {

    display: flex;
    flex-direction: column;
    margin: 0%;
    gap: 10px;
    background-color: white;
    color: #2b0333;
    height: 110px;
    align-items: center;
    justify-content: center;
}


.link-footer {
    padding-bottom: 1px;
    color: #241b75;
    position: relative;
}

.link-footer::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: rgb(61, 4, 136);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.link-footer:hover::after {
    opacity: 1;
    transform: translateY(0);
}

a:link, a:visited {
	text-decoration: none
	}

a:active {
	text-decoration: none
	}


.feito-por {
    font-size: 12px;


}