* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #2b2b2b;
    color: white;
    margin: 0%;
}

main {
    margin: 70px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: rgb(238, 238, 238);
    color: black;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

main h1 {
        color: #161238;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.cta {
    padding: 12px 24px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 0 0 0 rgba(20, 1, 1, 0.1);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(3, 3, 3, 0);
    }
}


/* Nargas Page */

h1 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    padding: 0 10%;
}
h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
    padding: 0 10%;
}

.gif {
    width: 500px;
    height: 200px;
}
  
